  
body {
    background-color:black;
}
h1 {
    color:grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 
.maindiv{
    background-color: white;
    color: black;
    width: 300px;
    padding: 20px;
    border-radius: 25px;
    margin: auto;
}

.button:hover,
.button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}
